.wrapper {
  display: flex;
  justify-content: center;

  svg {
    margin-top: 66px;
  }

  @media (max-width: 920px) {
    svg {
      max-width: 450px;
    }
  }

  @media (max-width: 620px) {
    svg {
      max-width: 250px;
    }
  }

  @media (max-width: 320px) {
    svg {
      max-width: 200px;
    }
  }
}