.wrapper {

  .titleName {
    font-weight: 600;
    font-size: 20px;
    margin: 15px 0px 8px 0px;
  }

  .links{
    display: flex;
    gap: 17px;


    .itemLink{
      text-decoration: none;
      font-weight: 400;
      font-size: 12px;
      color: #5558FA;
    }
  }

}