.wrapper {
  margin-left: 110px;
  margin-top: 110px;
  font-weight: 400;


  .addItemButton {
    width: 44px;
    height: 44px;
    background: #FFFFFF;
    border: #5558FA 2px solid;
    color: #5558FA;
    font-weight: 600;
    font-size: 20px;
    border-radius: 4px;

    &:hover {
      color: #FFFFFF;
      background: rgba(86, 88, 250, 1);
    }

    &:active {
      background: #5558FA;
      color: #FFFFFF;
      padding: calc(.25em + 1px) .5em calc(.25em - 1px);
      box-shadow: inset 0 -1px 1px rgba(85, 88, 250, .1), inset 0 1px 2px rgba(85, 88, 250, 0.3), inset 0 0 0 60px rgba(85, 88, 250, 0.45);
    }
  }

  .groupButton {
    max-width: 680px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
    padding-top: 64px;


    @media (max-width: 900px) {
      max-width: 420px;
    }

    @media (max-width: 620px) {
      max-width: 260px;
    }

    @media (max-width: 320px) {
      max-width: 220px;
    }
  }

  .advantages{
    margin: 0px 0px 4px 0px;
  }

  .checkboxGroup {
    margin: 36px 0px 4px 0px;
  }

  .radioGroup {
    margin: 36px 0px 4px 0px;
  }

  @media (max-width: 620px) {
    margin-left: 50px;
  }

  @media (max-width: 320px) {
    margin-left: 30px;
  }
}