.wrapper {


  .avatar {
    height: 80px;
    width: 80px;
    background: #D5E4F7;
    border-radius: 100px;
  }


  .title {
    display: grid;
    text-align: center;
    line-height: 2em;
    font-size: 40px;
  }
}